
// Buttons
// --------------------------

/* General */
.btn {
    border                  : 0;
    border-radius           : 300px;
    text-transform          : uppercase;
    font-family             : $font-family-base;
    font-weight             : $font-weight-bold;
    padding 				: 15px 30px;
    margin-top              : 20px;
}

.btn-xl {
	font-size 				: 2.0rem;
	padding 				: 25px 50px;
}

.btn-primary {
	color 					: $white;
	background-color 		: $grey-base;
	-webkit-transition      : all .35s;
    -moz-transition         : all .35s;
    transition              : all .35s;

    /* Buttons colors */
	&.btn-white       { background-color: $white; color: $grey-base; }
	&.btn-blue-base   { background-color: $blue-base; }
	&.btn-yellow-base { background-color: $yellow-base; }
	&.btn-red-base    { background-color: $red-base; }
    &.btn-green-base  { background-color: $green-base; }
}

/* Hover */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color                   : $white;
    background-color        : $grey-base;
    outline                 : none;  

    /* Hover colors */
    &.btn-hover-white  	    { background-color: $white; color: $grey-base; }
    &.btn-hover-blue-base 	{ background-color: $blue-base; }
    &.btn-hover-blue-dark   { background-color: $blue-dark; }
    &.btn-hover-yellow-base { background-color: $yellow-base; color: $white; }
    &.btn-hover-yellow-dark { background-color: $yellow-dark; color: $white; }
	&.btn-hover-red-base    { background-color: $red-base; }
	&.btn-hover-red-dark    { background-color: $red-dark; }
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary { background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    color                   : $grey-base; 
    border-color            : $white;
    background-color        : $grey-light;
}

.btn-primary .badge {
    color                   : $grey-base;
    background-color        : $white;
}
