
// Pricing
// --------------------------

.thumbnail .caption { color: inherit; } // Resetting color.

.thumbnail {
    display                     : block;
    padding                     : 4px;
    margin-bottom               : 2rem;
    line-height                 : 1.4;
    border                      : 0px solid $grey-base;
    border-radius               : 0;
    -webkit-transition          : all .35s;
    -moz-transition             : all .35s;
    transition                  : all .35s;

    .price {
        font-size               : 2rem;
    }

    &.bg {
        color                   : $white;
        background-color        : $grey-base;

        &.bg__grey-light { background-color: $grey-light; color: $grey-base; }
        &.bg__blue       { background-color: $blue; }
        &.bg__yellow     { background-color: $yellow; }
        &.bg__red        { background-color: $red; }
    }
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail.focus,
.thumbnail:active,
.thumbnail.active {
    color                       : $white;
    background-color            : $grey-base; 

    /* Hover colors */
    &.bg__hover__blue         { background-color: $blue; color: $white; }
    &.bg__hover__yellow       { background-color: $yellow; color: $white; }
    &.bg__hover__red          { background-color: $red; color: $white; }
}