
// Pricing
// --------------------------

.thumbnail .caption { color: inherit; } // Resetting color.

.thumbnail {
    display                     : block;
    padding                     : 4px;
    margin-bottom               : 2rem;
    line-height                 : 1.4;
    border                      : 0px solid $grey-base;
    border-radius               : 0;
    -webkit-transition          : all .35s;
    -moz-transition             : all .35s;
    transition                  : all .35s;

    .price {
        font-size               : 2rem;
    }

    &.bg {
        color                   : $white;
        background-color        : $grey-base;

        &.bg-grey-light  { background-color: $grey-light; color: $grey-base; }
        &.bg-blue-base   { background-color: $blue-base; }
        &.bg-yellow-base { background-color: $yellow-base; }
        &.bg-red-base    { background-color: $red-base; }
    }
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail.focus,
.thumbnail:active,
.thumbnail.active {
    color                       : $white;
    background-color            : $grey-base; 

    /* Hover colors */
    &.bg-hover-blue-base   { background-color: $blue-base; color: $white; }
    &.bg-hover-yellow-base { background-color: $yellow-base; color: $white; }
    &.bg-hover-red-base    { background-color: $red-base; color: $white; }
}