
// Main
// --------------------------

/* Font */
// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900);
$font-family-base 		: 'Source Sans Pro', sans-serif;
$font-size-base 		: 16px;
$line-height-base 		: 1.4;
$font-weight-normal 	: 100;
$font-weight-bold 		: 600;

/* Colors */
$white 					: #fff;

$grey-base 				: #333232;
$grey-light 			: lighten($grey-base, 75%);
$grey-dark 				: darken($grey-base, 5%);

$blue-base				: #1854a0;
$blue-light 			: rgba($blue-base, .1);
$blue-dark				: darken($blue-base, 5%);

$yellow-base 			: #fed36d;
$yellow-light 			: rgba($yellow-base, .3);
$yellow-dark 			: darken($yellow-base, 20%);

$red-base 				: #f96a67;
$red-light 			 	: rgba($red-base, .15);
$red-dark 				: darken($red-base, 5%);

$green-base 			: #5ae057;
$green-light 			: rgba($green-base, .25);
$green-dark 			: darken($green-base, 15%);

/* Alternate Colors */

// $grey-base 				: #50514F;
// $grey-light 			: lighten($grey-base, 65%);
// $grey-dark 				: darken($grey-base, 5%);

// $blue-base				: #5CC8FF;
// $blue-light 			: rgba($blue-base, .15);
// $blue-dark				: darken($blue-base, 5%);

// $yellow-base 			: #FED36D;
// $yellow-light 			: rgba($yellow-base, .4);
// $yellow-dark 			: darken($yellow-base, 20%);

// $red-base 				: #F25F5C;
// $red-light 			 	: rgba($red-base, .15);
// $red-dark 				: darken($red-base, 5%);

// $green-base 			: #82D173;
// $green-light 			: rgba($green-base, .15);
// $green-dark 			: darken($green-base, 15%);

/* Partials */
@import "bootstrap";
@import "font-awesome";
@import "plugins/animate.min";
@import "base";
@import "navbar";
@import "buttons";
@import "pricing";
@import "pages/startpage";

/* Shortcode */
.center  		   { text-align: center !important; }
	   
.no-margin  	   { margin: 0 !important; }
.margin-top-sm 	   { margin-top: 20px !important; }
.margin-top-md 	   { margin-top: 40px !important; }
.margin-top-lg 	   { margin-top: 60px !important; }

.no-padding  	   { padding: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.padding-sm   	   { padding: 20px 0px !important; }
.padding-md   	   { padding: 40px 0px !important; }
.padding-lg   	   { padding: 60px 0px !important; }

.no-border 		   { border: 0 !important; }
.no-border-radius  { border-radius: 0 !important; }
.full-width 	   { width: 100% !important; }